* {
    margin: 0;
    padding: 0;
   
}

.wrapper {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #5dafb8;
    color:white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.wrapper3 {
    margin-right: 30px;
}

.wrapper2 {
    display:flex;
}

.product-canvas0 {
    /* flex: 4; */
    width: 60vw;
    height: 70vh;
    background:white;
    margin-bottom:20px;
    margin-left: 20px;
}

.colors {
    /* flex: 1; */
    display:flex;
    flex-direction: column;
    align-items: flex-start;
}

.color-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 10px;
    justify-content: space-between; 
    width: 100%;
}

.color-item label {
    margin-left: 5px;
    margin-bottom: 5px; 
}

.color-item input {
    margin-left: auto;
    margin-right: 10px;
}

.colors div {
    padding:8px
}

h1{
    margin-bottom: 15px; 
}

.model-selection{
    margin-bottom: 10px; 
    
}

.model-selection button {
    padding: 10px 20px;
    margin: 10px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .model-selection button:hover {
    background-color: #0056b3;
  }
  
  .model-selection button.active {
    background-color: #0056b3;
  }

